html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.align-center-2 {
    height: 100%;
    text-align: center;
}

#map {
    height: 750px;
}

.simple-form {
    width: 90%;
    text-align: center;
}

.menu {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

